[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
pyjwt = "*"
psycopg2 = "*"
praw = "*"
python-dotenv = "*"
pytest = "*"
celery = "*"
redis = "*"
requests = "*"
requests_oauthlib = "*"
flower = "*"
textblob = "*"
dateparser = "*"

[requires]
python_version = "3.7"
